#deviceList-header
  text-align: center
  margin-top: 3vh
#deviceCardList-scroll
  margin-top: 4vh
  margin-bottom: 4vh
  overflow-y: scroll
  height: 60vh
  padding-right: 10px
  padding-left: 10px
  border: 1px solid rgb(230, 230, 230)
  border-radius: 5px 0 0 5px
